./sites/daoerp/apps/app/__pycache__
*.egg-info

*.sublime-project
*.sublime-workspace
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~

.cache
.coverage
.coverage.*
.idea
.installed.cfg
.noseids
.tox
.vimrc
build
cover
coverage
develop-eggs
dist
docs/_build/
eggs
include/
man/
parts
pyvenv
sources
var/*
venv
virtualenv.py
